<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspstudy2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- sitemesh 프레임워크 설정 
  	설정부분에 관런된 WEB-INF/sitemash.xml 설정파일이 필요 
  -->
  <filter>
  	<filter-name>sitemesh</filter-name>
  	<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  	<!-- SiteMeshFilter를 가면 sitemash.xml을 찾게됨 -->
  </filter>
  <filter-mapping><!-- url 정보와 매칭시키는 것 -->
  	<filter-name>sitemesh</filter-name>
  	<url-pattern>/*</url-pattern> <!--모든 요청이 들어오면 sitemash를 통해 들어가야한다. -->
  </filter-mapping>
</web-app>